<div>
  <h1>{{ hero.name | uppercase }} Details</h1>
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Id:</mat-label>
        <input matInput disabled  [value]="hero.id">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput value="{{ hero.name }}" [(ngModel)]="hero.name">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Back</button>
    </mat-card-actions>
  </mat-card>
</div>
